/* header.css */
/* Header Styles */
header {
  background-color: #b84242;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Navigation Styles */
nav {
  display: flex;
  align-items: center;
  
}

/* Link Styles */
.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* Link Colors (Add your own colors) */
.aboutus { background-color: #006BA6; }
.activities { background-color: #F8DF00; }

.staffpage { background-color: #900C3F; }

.gallery { background-color: #9CFFFA; }
.holidays { background-color: #8F2D56; }
.contact { background-color: #0083E0; }
.signup { background-color: #C70039; }
.donation { background-color: #FFC300; }

/* Logo Styles */
.logo {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  margin-right: 10px;
  
}
.logo23 {
  width: 80px;
  height: 60px;
  vertical-align: middle;
  margin-right: 10px;
  
}

/* YMCA and YMCA Kindergarten Logo Styles */
.ymca-logo {
  width: 60px;
height: 50px;
vertical-align: middle;
margin-left: 10px;

}

.menu-icon {
  display: none; /* Hide the icon by default for larger screens */
  cursor: pointer;
  margin-left: auto;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

@media only screen and (max-width: 768px) {
  /* Display the hamburger icon and hide navigation links for smaller screens */
  .menu-icon {
    display: block;
    margin-left: 100%; 
    padding: 10px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #b84242;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-link {
    margin: 0;
    text-align: center;
  }

  /* Adjust font size for navigation links on smaller screens */
  .nav-link {
    font-size: 16px;
  }

  /* Adjust logo sizes for smaller screens and center them */
  .logo {
    width: 80px;
    height: 80px;
    margin: 0 auto; /* Center the logo */
  }
  .logo23 {
    width: 80px;
    height: 80px;
    margin: 0 auto; /* Center the logo */
    margin-left: 20%;
  }

  .ymca-logo {
    width: 40px;
    height: 40px;
    margin: 0 auto; /* Center the logo */
  }
}
