/* main.css */

/* Apply styles to the main container */
.main-container {
    max-width: 100%;
    margin: 0 auto;
    
}

/* Apply styles to the content section */
.content {
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 30px;
}

/* Apply styles to headings */
h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Apply styles to social media links */
.social-media-links {
    margin-top: 30px;
}

/* Apply styles to social media links heading */
.social-media-links h3 {
    font-size: 18px;
    font-weight: bold;
}

/* Apply styles to social media links containers */
.ymca-international-social,
.ymca-sport-center-social {
    display: flex;
    margin-top: 10px;
}

/* Apply styles to social media links icons */
.ymca-international-social a,
.ymca-sport-center-social a {
    margin-right: 15px;
}

/* Apply styles to Instagram logo (purple color) */
.ymca-international-social a svg[data-icon="instagram"] {
    color: #ad4ae6; /* Instagram purple color */
}
.ymca-sport-center-social a svg[data-icon="instagram"] {
    color: #ad4ae6; /* Instagram purple color */
}

/* Apply styles to Facebook logo (blue color) */
.ymca-sport-center-social a svg[data-icon="facebook"] {
    color: #1877f2; /* Facebook blue color */
}
.ymca-international-social a svg[data-icon="facebook"] {
    color: #1877f2; /* Facebook blue color */
}

/* Apply styles to footer */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
/* main.css */

/* Add these styles for small screens */
/* main.css */

/* Add these styles for small screens */
@media only screen and (max-width: 768px) {
    .image-section {
      display: none; /* Hide the image section on small screens */
    }
  
    .text-section {
      width: 100%; /* Make the text section take full width on small screens */
    }
  
    .hero-section2 {
      width: 100%; /* Make the hero section take full width on small screens */
      height: 40vh; /* Adjust the height as needed */
    }
  
    .hero-text2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      font-size: 24px; /* Adjust font size for smaller screens */
    }
  
    .social-media-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .ymca-international-social,
    .ymca-sport-center-social {
      display: flex;
      margin-top: 10px;
    }
  
    .ymca-international-social a,
    .ymca-sport-center-social a {
      margin-right: 15px;
    }
  
    .ymca-international-social a svg[data-icon="instagram"],
    .ymca-sport-center-social a svg[data-icon="instagram"] {
      color: #ad4ae6; /* Instagram purple color */
    }
  
    .ymca-sport-center-social a svg[data-icon="facebook"],
    .ymca-international-social a svg[data-icon="facebook"] {
      color: #1877f2; /* Facebook blue color */
    }
  }
  
  